{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old Password" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirmed_password" placeholder="New Password (again)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
